<div class="login">
  <div class="container">
    <h1 class="form-signin-heading">Login</h1>
      <%= form_for(:session, url: login_path) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, placeholder: "Email", class: "form-control" %><br />
          <%= f.password_field :password, placeholder: "Password", class: "form-control" %><br />
          <%= f.submit "Login", class: "btn btn-submit btn-primary text-center" %>
        </div>
      <% end %>
  </div>
</div>
